html {
  background-image: url(../img/tux-about.JPG);
  background-size: cover;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  width: 500px;
  margin: auto;
  padding: 8px;
p > a {
  color: rgb(138,43,226);
  text-decoration: none;
}
