h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 7rem;
  background-color: rgba(0,255,127,0.4);
  text-align: center;
  margin: 100px 170px;
  border-radius: 25px;
  width: 1200px;
}

p {
  font-family: 'Rubik', sans-serif;
}