html {
  background-image: url(../img/tux-fun.JPG);
  background-size: cover;
}

h1 { 
  font-size: 7rem;
  background-color: rgba(0,255,127,0.4);
  text-align: center;
  margin: auto;
  width: 1200px;
}

a {
  font-size: 5rem;
  background-color: yellow;
}