html {
  background-image: url(../img/tux-fun.JPG);
  background-size: cover;
}

h1 { 
  font-family: 'Archivo Black', sans-serif;
  font-size: 7rem;
  background-color: rgba(0,255,127,0.4);
  text-align: center;
  margin: 100px 170px;
  border-radius: 25px;
  width: 1200px;
}

a {
  font-family: 'Rubik', sans-serif;
  font-size: 5rem;
  text-decoration: none; 
  color: #f9ddfc;
  background-color: rgb(44,173,251);
  border-radius: 10px;
  box-shadow: 10px 10px 20px #e52cfb;
  margin: 500px 170px;  
}

nav {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  text-align: right;
  margin-right: 70px;
}